<form *ngIf="cardIndex === 1" [formGroup]="contactForm" (ngSubmit)="sendEmail()" novalidate>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Contact</h1>
      </mat-card-title>
      <mat-card-subtitle>Write me!</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/contact_banner.jpg" alt="Write me!">
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Name or company" formControlName="name" required>
        <mat-error *ngIf="contactForm.controls.name.invalid">I need to know who you are!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter your email" formControlName="email" required>
        <mat-error *ngIf="contactForm.controls.email.invalid">An email so I can reply back to you would be nice.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Notes" formControlName="note" required>
        <mat-error *ngIf="contactForm.controls.note.invalid">Let me know something about you or your company.</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="sendEmail()" color="primary">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>