<form [formGroup]="contactForm" (ngSubmit)="sendEmail()" novalidate>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Contact</h1>
      </mat-card-title>
      <mat-card-subtitle>Write me!</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/contact_banner.jpg" alt="Write me!">
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Name or company" formControlName="name" required>
        <mat-error *ngIf="contactForm.controls.name.invalid">I need to know who you are!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter your email" formControlName="email" required>
        <mat-error *ngIf="contactForm.controls.email.invalid">An email so I can reply back to you would be nice.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Notes" formControlName="note" required>
        <mat-error *ngIf="contactForm.controls.note.invalid">Let me know something about you or your company.</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Submit</button>
      <div class="actions__profiles">
        <a mat-icon-button target="_blank" href="https://www.linkedin.com/in/matías-fernández-martínez-89815b7b/" color="primary" matTooltip="LinkedIn profile"
          aria-label="Navigate to my LinkedIn profile">
          <mat-icon svgIcon="linkedin-box"></mat-icon>
        </a>
        <a mat-icon-button target="_blank" href="https://stackoverflow.com/users/1769317/matias-fernandez-martinez?tab=profile" color="primary" matTooltip="StackOverflow profile"
          aria-label="Navigate to my StackOverflow profile">
          <mat-icon svgIcon="stack-overflow"></mat-icon>
        </a>
        <a mat-icon-button target="_blank" href="https://github.com/thematho/" color="primary" matTooltip="Github profile" aria-label="Navigate to my Github profile">
          <mat-icon svgIcon="github-box"></mat-icon>
        </a>
      </div>
    </mat-card-actions>
  </mat-card>
</form>