<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Personal contact / Menthorship</h1>
    </mat-card-title>
    <mat-card-subtitle>Need mentorship? Want to chat about code?</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
    src="/assets/contact_banner.jpg"
    alt="Write me!">
  <mat-card-content>
    <p>Just write me to my email or add me on hangouts
      <b class="clickable"
        (click)="copyText('thematho@gmail.com')"
        matTooltip="Copy email">thematho@gmail.com</b> and we can chat about code. If you are a
      newcomer to Web Development I can
      help you with your next steps. </p>
  </mat-card-content>
  <mat-card-actions class="actions__profiles">
    <button mat-button (click)="copyText('thematho@gmail.com')">
      Copy my address
    </button>
  </mat-card-actions>
</mat-card>