<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <a routerLink="/home" mat-list-item>Home</a>
      <a routerLink="/porfolio" mat-list-item>Porfolio</a>
      <a routerLink="/about" mat-list-item>About</a>
      <a routerLink="/contact" mat-list-item>Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <matho-header (toggleMenuEmitter)="toggleNav($event)"></matho-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>