<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Let's Game!</h1>
    </mat-card-title>
    <mat-card-subtitle>Nothing like playing with Friends</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
  src="/assets/contact_banner.jpg"
  alt="Write me!">
  <mat-card-content>
    <p>You can find me on Steam, PS Network to play PS4, Battle.net to play Overwatch and Nintendo Switch to play Splatton 2 or Marki Kart!, just add me! I love to play with new people!</p>
  </mat-card-content>
  <mat-card-actions class="actions__profiles">
    <a mat-icon-button
      target="_blank"
      href="https://steamcommunity.com/id/thematho/"
      matTooltip="Go to my Steam Profile">
      <mat-icon color="primary" svgIcon="steam"></mat-icon>
    </a>
    <button mat-icon-button
      (click)="copyText('SW-6495-8088-2501')"
      matTooltip="Copy Nintendo Friend code">
      <mat-icon color="primary" svgIcon="nintendo-switch"></mat-icon>
    </button>
    <button mat-icon-button
      (click)="copyText('fmmatho')"
      matTooltip="Copy PS Network ID">
      <mat-icon color="primary" svgIcon="playstation"></mat-icon>
    </button>
    <button mat-icon-button
      (click)="copyText('thematho#2230')"
      matTooltip="Copy Battle.Net ID">
      <mat-icon color="primary">gamepad</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>