/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
}


mat-slider.mat-slider--thumb-mat-icons .mat-slider-thumb-label-text {
    font-family: 'Material Icons';
    font-size: 1.2rem;
}